				<!-- Footer -->
                <section id="footer">
                    <div class="inner">
                        <!-- <h2 class="major">Get in touch</h2>
                        <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" />
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="4"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                            </ul>
                        </form> -->
                        <ul class="contact">
                            <li class="icon solid fa-home">
                                KmoM Inc
                            </li>
                            <li class="icon solid fa-phone">(11) 2250-6487</li>
                            <li class="icon solid fa-envelope"><a href="federicorossi888@gmail.com">federicorossi888@gmail.com</a></li>
                            <li class="icon brands fa-twitter"><a href="https://twitter.com/feder0ssi">@feder0ssi</a></li>
                            <li class="icon brands fa-gitlab"><a href="https://gitlab.com/KmoM88">@KmoM88</a></li>
                            <li class="icon brands fa-docker"><a href="https://hub.docker.com/u/kmom">@kmom</a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; KmoM Inc. All rights reserved ©</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </section>

        </div>

    <!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>

</body>
</html>
