<!DOCTYPE HTML>
<html>
	<head>
		<title>WebAppDev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">CursoWebApp</a></h1>
						<nav>
							<% if (user) { %>
								<a>Bienvenido, <%=  user.name %></a>
							<% } %>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<% if (user) { %>
								<li><a href="/posteos">Posteos</a></li>
								<li><a href="/create">Crear Post</a></li>
								<li><a href="/integrantes">Participantes</a></li>
								<li><a href="/perfil">Perfil</a></li>
								<li><a href="/logout">Log Out</a></li>
								<% } else { %>
								<li><a href="/login2">Log In</a></li>
								<li><a href="/signup2">Sign Up</a></li>
								<% } %>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
