<%- include('partials/header2'); -%>

<div class="wrapper">
  <div class="inner">
    <section>
      <h3 class="major">404</h3>
      <p>Pagina no encontrada</p>
    </section>
  </div>
</div>

<%- include('partials/footer2'); -%>