<%- include("./partials/header2.ejs") %>
<section id="footer">
  <div class="inner">
    <form action="/posteos" method="POST">
      <div class="fields">
        <div class="field">
          <label for="title">Titulo</label>
          <input type="text" name="title" id="title" required/>
        </div>
        <div class="field">
          <label for="snippet">Snippet</label>
          <input type="text" name="snippet" id="snippet" required/>
        </div>
        <div class="field">
          <label for="body">Post</label>
          <textarea name="body" id="body" rows="6" required></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Postear" /></li>
      </ul>
    </form>
  </div>
</section>
<!-- <div class="create-blog content">
    <form action="/blogs" method="POST">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div> -->


<%- include("./partials/footer2.ejs") %>
