<%- include('partials/header3'); -%>

<div class="wrapper">
  <div class="inner">
    <div class="blogs content">
      <h2><%= blog.title %></h2>
        <section>
          <p><%= blog.snippet %></p>
          <blockquote><span class="image left"></span><%= blog.body %></blockquote>
        </section>
        <a class="delete" data-doc="<%= blog._id %>">
          <img src="https://img.icons8.com/metro/26/000000/trash.png"/>
        </a>
      </div>
    </div>
  </div>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/posteos/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>

<%- include('partials/footer3'); -%>