<%- include('partials/header2'); -%>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="fas fa-code"></span></div>
                            <a href="/"><h2>Curso Web App</h2></a>
							<p>Creando el futuro ahora</a></p>
						</div>
                    </section>
                    <!-- IMAGEN -->
                    <div class="wrapper">
                        <div class="inner">
                            <section>
                                <p><span class="image left"><img src="https://img.icons8.com/ios/50/000000/remote-desktop.png"/></span>Proyecto del curso de Web App, los que tengan ganas de compartir e ir probando para revisar avances se agradece. La idea es armar una plataforma en donde el usuario se pueda autenticarse, y una vez dentro poder ver a los otros usuarios de la plataforma y hacer posteos con comentarios, links, una pseuso red social.</p>
                            </section>
                        </div>
                    </div>

<%- include('partials/footer2'); -%>