<%- include("./partials/header2.ejs") %>

<div class="wrapper">
  <div class="inner">
    <div class="blogs content">
      <h2>Integrantes</h2>
      <section>
        <div class="table-wrapper">
            <table>
                <% if (users.length > 0) { %>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <section>
                    <p>No hay ningun usuario para mostrar</p>
                </section>
            <% } %>
        </div>
    </section>
    </div>
  </div>
</div>

<%- include("./partials/footer2.ejs") %>