<%- include("./partials/header2.ejs") %>

<div class="wrapper">
  <div class="inner">
    <div class="blogs content">
      <h2>Posteos</h2>
      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <section>
            <a href="/posteos/<%= blog._id %>">
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
            <blockquote><span class="image left"></span><%= blog.body %></blockquote>
            </a>
          </section>
        <% }) %>
      <% } else { %>
        <section>
          <p>No hay ningun post para mostrar</p>
        </section>
      <% } %>
    </div>
  </div>
</div>

<%- include("./partials/footer2.ejs") %>