<%- include('partials/header2'); -%>

               <!-- FORM -->
                <div class="wrapper">
                    <div class="inner">
                        <section>
                            <h3 class="major">Sign Up</h3>
                            <form method="post" action="#">
                                <div class="row gtr-uniform">
                                    <div class="col-6 col-12-xsmall">
                                        <label for="demo-name">Name</label>
                                        <input type="text" name="name" id="name" value=""  required/>
                                        <div class="nombre error"></div>
                                    </div>
                                    <div class="col-6 col-12-xsmall">
                                        <label for="demo-email">Email</label>
                                        <input type="text" name="email" id="email" value="" required/>
                                        <div class="email error"></div>
                                    </div>
                                    <div class="col-6 col-12-xsmall">
                                        <label for="demo-psw">Password</label>
                                        <input type="password" name="psw" id="psw" value="" required/>
                                        <div class="psw error"></div>
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <div class="col-6 col-12-small">
                                            <input type="checkbox" id="demo-copy" name="demo-copy" required/>
                                            <label for="demo-copy">Accept terms and conditions</label>
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <input type="checkbox" id="demo-human" name="demo-human" required>
                                            <label for="demo-human">Not a robot</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" value="Sign Up" class="primary" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

                <!-- SCRIPT Deteccion errores -->

                <script>
                    const form = document.querySelector('form');
                    const emailError = document.querySelector('.email.error');
                    const pswError = document.querySelector('.psw.error')

                    form.addEventListener('submit', async (e) => {
                        e.preventDefault();

                        //nameError.textContent = '';
                        emailError.textContent = '';
                        pswError.textContent = '';

                        const name = form.name.value;
                        const email = form.email.value;
                        const psw = form.psw.value;

                        //console.log(name, email, psw);
                        try {
                            const res = await fetch('/signup2', {
                                method: 'POST',
                                body: JSON.stringify({name, email, psw}),
                                headers: {'Content-Type': 'application/json'}
                            });
                            const data = await res.json();
                            console.log(data);
                            if (data.errors) {
                                //nameError.textContent = data.errors.name;
                                emailError.textContent = data.errors.email;
                                pswError.textContent = data.errors.psw;
                            }
                            if (data.user){
                                location.assign('/');
                            }
                        }
                        catch (err) {console.log(err)}
                    });
                </script>

<%- include('partials/footer2'); -%>